.body {
  margin: 0;
  padding: 0;
}



/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: Helvetica, Sans-Serif;
  color:#4c1951;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.logo {
  width: 25vw;
  height: auto;
}
.links {
  font-family: Helvetica, Sans-Serif;
  font-weight: bold;
  color:#4c1951;
  display: flex;
  white-space: nowrap;
  justify-content: space-evenly;
  width: 25vw;
}
.links span {
  margin-inline-start: 3em;
  margin-inline-end: 2em;
}



/*LINK*/
a:link { color:#4c1951; text-decoration: none}
a:visited { color:#4c1951; text-decoration: none}
a:active { color:#4c1951; text-decoration: none}



/* TABLE */
table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  font-family: Helvetica, Sans-Serif;
  font-weight: normal;
  border-collapse: collapse;
  padding-bottom: 5%;
}

.thead {
  background-color: #4c1951;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 40px;
}


th.place {
  border-left: 5px solid #4c1951;
  padding-left: 20px;
  width: 50px;
}

th.team {
  width: 250px;
}

th.points {
  width: 200px;
}

th.goals {
  width: 200px;
}

th.MP {
  width: 200px;
}

th.WDL {
  width: 200px;
}


td.tl {
  text-align: left;
  padding-left: 50px;
}


td.LDC {
  border-left: 5px solid blue;
}

td.europa {
  border-left: 5px solid orange;
}
td.pl {
  border-left: 5px solid rgb(229, 229, 229);
}

td.relegation {
  border-left: 5px solid red;
}


td {
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid black;
  border-collapse: collapse;
}



@media screen and (max-width: 767px) {
  .links {
    flex-direction: column;
  }
  .links span {
    margin-inline-start: 0em;
    margin-inline-end: 0em;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .logo {
    width: 200px;
  }
  .links {
    flex-direction: column;
  }
  .links span {
    margin-inline-start: 0em;
    margin-inline-end: 0em;
  }
}
